

/*
================= vvvvv     Main Body      vvvvv  ===============
*/
body{
  display: flex;
}
article{
  max-width: 540px;
  margin: 10px;
  border:
  /*flex-grow: 1px;
  flex-shrink: 1px;*/
}

.picbox{
  border: 3px solid #81bce6;
  padding: 1px;
}

.shirts {
    position: relative;
    align-content: center;
    margin: 10px;
    height: 460px;
}
.shirts .front{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}





.back{
  padding: 50px;
  transform: rotateY(0deg);
  opacity: 1;
}


.front{
  padding: 50px;
}
/*
============== vvvvv Icons    vvvvvv   ==============
*/


.fa {
    font-size: 40px !important;
    width: 40px !important;
    height: 40px !important;
    color: #81bce6;
    padding: 25px;
}







/*
============== vvvvv  Footer   vvvvv   ==============
*/

section{
  border:1px solid #81bce6;
  border-top: none;
  display: flex;


}
.shirt{
  border:2px solid #81bce6;
  margin:0px;
  padding:0px;
  height: 96px;
  width:96px;
}
.shirt:hover{
  opacity: ;
  background-color: #81bce6;
}
.shirt:hover .sz{
  color:white;
}
.shirt:hover .box {
    border: 3px solid white;
}

.shirt .fa:hover{
  color: white;

}

.sz{
  font-size: 35px;
    /* padding: 0px; */
    color: #81bce6;
    text-align: center;
    margin: 25px;
}

.sz:hover{
  color:white;
}
.top {

}

.box{
  background-color: #81bce6;
  width: 35px;
  height: 35px;
  margin: 25px;
}

.box:hover{
  border:white;
}

/*
===================  Footer ==============
*/

footer{
  display:flex;
  justify-content: space-between;
  border: none;
}

#word{
  max-width:49%;
  justify-content:
  border: 1px solid green;
}

#price{
  justify-content:
}
span{
  color:#81bce6;
  font-size: 20px;
}






/*
=============== vvvvvvv  Icon Boxes vvvvvvv ===============
*/


.first{
    border: 3px solid #81bce6;
    border-right: none;
    position: absolute;
    top: 18px;
    left: 425px;
    transform: rotateX(180deg);
}

.second {
  border: 3px solid #81bce6;
  border-right: none;
  position: absolute;
  top: 18px;
  left: 948px;
  transform: rotateX(180deg);
}

.third {
  border: 3px solid #81bce6;
  border-right: none;
  position: absolute;
  top: 18px;
  left: 1472px;
  transform: rotateX(180deg);
}

.fa-repeat:hover.front{
  transform: rotateY(180deg);
  transition: all 5s;
}
