

/*
================= vvvvv     Main Body      vvvvv  ===============
*/
body{
  display: flex;
}
article{
  max-width: 540px;
  margin: 10px;
  border: 3px solid #81bce6;
  /*flex-grow: 1px;
  flex-shrink: 1px;*/
}


.shirts{
position:relative;
}
.shirts .front{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.front:hover{
  transform: rotateY(90deg);
  transition:all 2s;
}


.back{
  padding: 50px;
  transform: rotateY(0deg);
  opacity: 1;
}
.back:hover{
  transform: rotateY(360deg);
  transition:all 4s;

}

.front{
  padding: 50px;
}
/*
============== vvvvv Icons    vvvvvv   ==============
*/


.fa {
    font-size: 35px !important;
    color: #81bce6;
    padding: 25px;
}









/*
============== vvvvv  Footer   vvvvv   ==============
*/

footer{
  border:1px solid #81bce6;
  display: flex;
  justify-content: ;

}
.shirt{
  border:2px solid #81bce6;
  margin:0px;
  padding:0px;
  height: 90px;
  width:90px;
}
.shirt:hover{
  opacity: ;
  background-color: #81bce6;
}

.shirt .fa:hover{
  color: white;
}

.sz{
  font-size: 35px;
    /* padding: 0px; */
    color: #81bce6;
    text-align: center;
    margin: 25px;
}

.sz:hover{
  color:white;
}
.top {

}

/*
=================== Second Footer ==============
*/

#bottom{
  justify-content: space-between;
  border: none;
}







/*
=============== vvvvvvv  Icon Boxes vvvvvvv ===============
*/


.first{
    border: 3px solid #81bce6;
    border-right: none;
    position: absolute;
    top: 18px;
    left: 410px;
    transform: rotateX(180deg);
}

.second {
  border: 3px solid #81bce6;
  border-right: none;
  position: absolute;
  top: 18px;
  left: 908px;
  transform: rotateX(180deg);
}

.third {
  border: 3px solid #81bce6;
  border-right: none;
  position: absolute;
  top: 18px;
  left: 1410px;
  transform: rotateX(180deg);
}
